*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container {
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.navbar{
    /* display: flex; */
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 80px;
    background-color: #A9CEFC;
    img{
        width: 100px;
        border-radius: 50%;
    }
}