@font-face {
  font-family: seb;
  src: url("../04_Task_Apple/sf-pro-text_regular.woff2");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seb;
}
html,body{
    height: 100%;
    width: 100%;
}
.container {
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 2rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 4px #0000001a;
}
.logo{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #0000003b;
    object-fit: cover;
}
.logo h1{
    font-size: 2rem;
    color: #191E25;
    font-weight: 600;
}
.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-block: 2rem;
    gap: 1.8rem;
    justify-content: center;
}
.card{
    width: 270px;
    height: 350px;
    padding: 1.5rem;
    text-align: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    gap: 16px;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.card h2{
    color: #000000da;
    font-size: 1.5rem;
    padding-top: 6px;
}
.card p{
    text-align: center;
    font-size: 13px;
    color: #666;
    padding-block: 5px;
}
.card button{
    background-color: #007BFF;
    color: white;
    padding: 10px 35px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}
.card button:hover{
    background-color:#0056b3;;
}
.card button:active{
    background-color: #004085;
}
.card::after{
    content: "";
    width: 270px;
    height: 350px;
}