@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  width: 100%;
  background-color: #0e1011;
  display: flex;
  color: rgb(255, 255, 255);
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 7%;
  cursor: pointer;
}
.nav-logo > a > img {
  width: 130px;
  margin-top: 10px;
}
.address {
  display: flex;
  flex-direction: column;
}
.address > p {
  font-size: 12px;
  color: rgb(204, 204, 204);
  margin-left: 20px;
}
.address > .location {
  display: flex;
  align-items: center;
  p {
    font-weight: 500;
    cursor: pointer;
  }
}
.nav-search {
  width: 48%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
.nav-search > select {
  width: 50px;
  height: 100%;
  border: none;
  text-align: center;
  color: rgba(34, 33, 33, 0.816);
  font-weight: 100;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-search > input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 100;
  padding-left: 5px;
  letter-spacing: 0.8px;
}
.nav-search > input:focus {
  outline: none;
}
.nav-search > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  border: none;
  background-color: #febc69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.signIn,.returns{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}
.sign{
    font-size: 12px;
}
.account , .order{
    font-size: 14px;
}
.returns > .return{
    font-size: 12px;
    font-weight: 100;
}
.navcart{
    display:flex ;
    align-items: end;
}
.navcart > i {
   font-size: 40px;
}
.address:hover, .signIn:hover, .returns:hover, .navcart:hover {
   color: rgb(221, 221, 221);
 }

 /* Banner */
 .banner{
    width: 100%;
    height: 45px;
    background-color: #222F3D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 7%;
    font-size: 14px;
   font-weight: 100;
}
.shop:hover{
   color: rgb(221, 221, 221);
   cursor: pointer;
}
.menu > ul{
   color: white;
   cursor: pointer;
}
.menu > ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:center;
    gap: 15px;
}
.menu > ul > li > i {
   margin-top: 4px;
}